.footer {
  background: rgb(248, 232, 232);
  color: rgb(61, 54, 60);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 20rem;
  align-items: center;
}

img .logo-sweetdelights {
  width: 10rem;
  margin-right: 8rem;
}

.footer-image {
  height: 6rem;
  width: 8rem;
}

.sweetdelights-infos {
  .footer-links {
    font-weight: 700;
    line-height: 40px;
  }
}

.footerdetails {
  padding-left: 2rem;
  padding-bottom: 2rem;
}
