.top-header {
  background-color: rgb(61, 54, 60);
  height: 10rem;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  .img-logo {
    position: absolute;
    top: 30px;
    left: 44px;
    width: 15rem;
  }
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  height: 8rem;
  width: 78vw;
  list-style: none;
  border-bottom: 3px solid rgb(61, 54, 60);
  z-index: 1;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(61, 54, 60);
}

.slogan {
  color: rgb(61, 54, 60);
  font-weight: bold;
  font-style: italic;
  margin-top: -5rem;
}
