.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.login-form {
  width: 20rem;
}

.title-login {
  color: rgb(61, 54, 60);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.login-input {
  display: flex;
  flex-direction: column;
}

.login-label {
  color: rgb(61, 54, 60);
  margin-bottom: 5px;
  font-size: 18px;
}

.login-input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #ecf0f3;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 5px #ff93b5;
}

.login-section {
  border: 1px solid rgb(175, 159, 173);
  border-radius: 8px;
  padding: 10px 50px 20px;
}

.login-section:hover {
  outline: none;
  box-shadow: 0 0 10px #ff93b5;
}
